@import "../../index.css";

.sideBarComponent {
  width: 280px;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--header-background);
  margin: -8px 0px -8px -8px;
  border-right: 1px solid var(--dark-blue-gray);
}
.middle {
  flex: 1 1 0;
}
.top {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* .itemContent {
  display: flex;
  padding: 10px 12px;
  gap: 12px;
  color: var(--slate-gray);
  border-radius: 8px;
} */
.navVal {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 10px 12px;
  gap: 12px;
  color: var(--slate-gray);
  border-radius: 8px;
}
.active {
  color: var(--violet);
  background-color: var(--violet-background);
}
.profileRect {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--violet);
  flex-shrink: 0;
  cursor: pointer;
}
.bottom {
  display: flex;
  gap: 12px;
  padding: 20px;
  align-items: center;
}
.profileText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.profileText .name {
  color: var(--light-white);
  font-weight: 500;
}
.profileText .role {
  color: var(--slate-gray);
  font-size: 12px;
}
.top h2 {
  color: var(--light-white);
  font-size: 1.6em;
  font-weight: var(--font-bold);
}
